<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <%= link_to 'Notes', root_path, :class => 'brand-logo' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><%= link_to 'Log Out', logout_path %></li>
            <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
            <li><%= link_to 'View Notes', notes_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
    <%= yield %>
  </body>
</html>
